$assertive: #F44336;
$royal: #E91E63;
$balanced: #009688;
$positive: #3F51B5;
$calm: #03A9F4;
$link-color: $balanced;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
body.platform-ios {
	font-family: Roboto, sans-serif;
}

.ionic-body.platform-ios {
	font-family: Roboto, sans-serif;
}

body.platform-android {
	font-family: Roboto, sans-serif;
}

.ionic-body.platform-android {
	font-family: Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
	font-family: inherit;
}

