<ion-modal-view id="contact-popover">
    <ion-header-bar class="bar bar-balanced">
        <h1 class="title">Call Contacts</h1>
        <button class="button icon ion-close" ng-click="closeCallContactPopover()"></button>
    </ion-header-bar>
    <ion-content scroll="false">

        <div class="list">

            <div class="item item-divider">
                Call User
            </div>
            <a class="item item-icon-left" ng-href="tel:{{bookingDetail.user.phoneNumber}}">
                <i class="icon ion-android-call royal"></i> {{bookingDetail.user.name}}
            </a>

            <div class="item item-divider">
                Call Emergency Contacts
            </div>
            
            <a ng-repeat="item in bookingDetail.user.emergencyContacts" class="item item-icon-left" ng-href="tel:{{item.phoneNumber}}">
                <i class="icon ion-android-call royal"></i> {{item.name}}
                <span class="item-note">
                  {{item.contactRelation}}
                </span>
            </a>


            <div class="item item-divider">
                Call Hospital
            </div>
            
            <a class="item item-icon-left" ng-href="tel:{{bookingDetail.hospital.hospitalDetails.phoneNumber[0]}}">
                <i class="icon ion-android-call royal"></i> {{bookingDetail.hospital.hospitalDetails.name}}
            </a>

        </div>

    </ion-content>
</ion-modal-view>