<ion-modal-view id="ermergency-state-popover">
    <ion-header-bar class="bar bar-balanced">
        <h1 class="title">Emergency Details</h1>
        <button class="button icon ion-close" ng-click="closeEmegencyDataPopover()"></button>
    </ion-header-bar>
    <ion-content scroll="false">

        <div class="list">

            <div class="item item-divider">
                Emergency Type
            </div>

            <ion-radio ng-repeat="item in emergencyTypeList" ng-value="item" ng-model="emergencyData.emergencyType" name="emergency-type">
                {{ item }}
            </ion-radio>

            <div class="item item-divider">
                Emergency State
            </div>

            <ion-radio ng-repeat="item in emergencyStateList" ng-value="item" ng-model="emergencyData.emergencyState" name="emergency-state">
                {{ item }}
            </ion-radio>

        </div>

    </ion-content>
</ion-modal-view>