<ion-view title="Driver App" id="home" style="">
    <ion-nav-buttons side="right" scroll="false" class="has-header">
        <button class="button button-balanced icon ion-android-more-vertical" ng-click="showMenu($event)"></button>
    </ion-nav-buttons>
    <ion-content padding="false" scroll="false" class="has-header">
        <div id="waiting-screen" ng-if="!status.busy">
            <div id="loading"></div>
            <div id="loading-text"><p>waiting</p></div>
        </div>
        
        <div class="main-container">
            
            <div class="card no-margin-card" ng-if="status.busy">
                <div class="item item-no-padding">
                    <div id="patient-content-block">
                        <div class="patient-info-container padding item-text-wrap">
                            <h2 class="balanced">{{bookingDetail.user.name}}</h2>
                            <p><i class="assertive fa fa-map-pin fa-fw fa-lg"></i>
                                <reverse-geocode lat="{{bookingDetail.user.location.lat}}" lng="{{bookingDetail.user.location.lng}}" />
                            </p>
                            <p><i class="positive fa fa-hospital-o fa-fw fa-lg"></i> {{bookingDetail.hospital.hospitalDetails.name}} , {{bookingDetail.hospital.hospitalDetails.address}} </p>
                        </div>
                        <div class="patient-image-container padding">
                            <img class="img-user-circle" ng-src="{{bookingDetail.user.userAvatar}}" />
                            <div>
                                <button ng-click="completeSOSRequest()" ng-show="sos.isPicked" class="button button-outline button-royal">drop</button>
                                <button ng-click="pickSOSRequest($event)" ng-hide="sos.isPicked" class="button button-outline button-balanced">pick</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="map" class="fill" data-tap-disabled="true"></div>
        </div>

        <ion-floating-menu menu-color="#009688" menu-open-color="#E91E63" ng-if="status.busy">
            <ion-floating-item text="Call Contacts" click="openCallContactPopover($event)" button-color="#009688" icon="ion-android-call"></ion-floating-item>
            <ion-floating-item text="Navigate" click="doNavigate(currentDestination)" button-color="#009688" icon="ion-android-navigate"></ion-floating-item>
        </ion-floating-menu>


    </ion-content>

</ion-view>