<ion-popover-view id="menu-popover">
    <ion-content scroll="false">
        <div class="list">
            <a class="item item-icon-left" ng-click="openProfile()">
                <i class="icon ion-person"></i> Profile
            </a>
            <a class="item list-divider item-icon-left" ng-click="doLogout()">
                <i class="icon ion-log-out" ></i> Logout
            </a>
        </div>
    </ion-content>
</ion-popover-view>