<ion-view title="Login" hide-nav-bar="true" id="login">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img id="logo" src="img/icon.png">
    </div>
    <div>
      <h2 class="text-center light">Ambuhelp</h2>
      <p class="text-center stable">Driver App</p>
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <form id="login-form1" class="list" ng-submit="doLogin();">
      <ion-list id="login-list1">
        <label class="item item-input balanced" id="login-input1">
          <span class="placeholder-icon ionicons ion-android-bus"></span>
          <input placeholder="ambulance-plate-num" type="text" ng-model="credentials.username">
        </label>
        <label class="item item-input balanced" id="login-input2">
          <span class="placeholder-icon ionicons ion-key"></span>
          <input placeholder="your password" type="password" ng-model="credentials.password">
        </label>
      </ion-list>
      <button type="submit" id="login-button1" class="button button-royal  button-block">Log in</button>
    </form>
  </ion-content>
</ion-view>
