<ion-view title="Profile" id="page7" style="">
  <ion-nav-buttons side="left" scroll="false" class="has-header" > 
    <button class="button button-balanced icon ion-android-arrow-back" ui-sref="home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="list card">
      <ion-list>
        <div class="border-thin-gray padding-sm-all text-center">
            <img ng-src="{{ambulanceDetail.driverDetails.avatarImage}}" width="100px" height="100px" class="border-thin-gray content-circular">
        </div>
        <ion-item class="item-divider" id="profile-list-item-divider4">Personal Info</ion-item>
        <ion-item>
            <span class="item-note">Name</span>{{ambulanceDetail.driverDetails.name}}
        </ion-item>
        <ion-item>
            <span class="item-note">Phone</span>+91-{{ambulanceDetail.driverDetails.phoneNumber}}
        </ion-item>
        <ion-item>
            <span class="item-note">Age</span>{{ambulanceDetail.driverDetails.age}} years
        </ion-item>
        <ion-item>
             <span class="item-note">Rating</span>  
             <input-stars readonly max="5" ng-model="ambulanceDetail.driverDetails.averageRating"></input-stars>
             {{ambulanceDetail.driverDetails.averageRating}}
        </ion-item>
        <ion-item class="item-divider">Ambulance Info</ion-item>
        <ion-item>
            <span class="item-note">Plate Number</span>
            {{ambulanceDetail.username}}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>