<ion-view title="History" id="page6" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-android-arrow-back" ui-sref="home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="history-list6">
      <ion-item class="item-divider" id="history-list-item-divider1"> Date: 10/10/2016</ion-item>
      <ion-item class="item-thumbnail-left" id="history-list-item9" style="">
        <h2>Ride 123</h2>
        <p style="white-space:normal;"></p>
        <h3>12:35 PM</h3>From: Location 1
        <br>To:Location 2
        <p></p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="history-list-item10" style="">
        <h2>Ride 123</h2>
        <p style="white-space:normal;"></p>
        <h3>03:43 PM</h3>From: Location 1
        <br>To:Location 2
        <p></p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="history-list-item14" style="">
        <h2>Ride 123</h2>
        <p style="white-space:normal;"></p>
        <h3>03:43 PM</h3>From: Location 1
        <br>To:Location 2
        <p></p>
      </ion-item>
      <ion-item class="item-divider" id="history-list-item-divider2"> Date: 09/10/2016</ion-item>
      <ion-item class="item-thumbnail-left" id="history-list-item11" style="">
        <h2>Ride 123</h2>
        <p style="white-space:normal;"></p>
        <h3>04:33 PM</h3>From: Location 1
        <br>To:Location 2
        <p></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>