.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}

.manual-remove-top-padding {
    padding-top: 0px;
}

.manual-remove-top-padding .scroll {
    padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list,
.list.card.manual-card-fullwidth {
    margin-left: -10px;
    margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list > .item,
.list.card.manual-card-fullwidth > .item {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.show-list-numbers-and-dots ul {
    list-style-type: disc;
    padding-left: 40px;
}

.show-list-numbers-and-dots ol {
    list-style-type: decimal;
    padding-left: 40px;
}

#menu-popover{
    height: 120px !important;
}

.popover{
    min-height: 0px !important;
}

.card.no-margin-card{
    margin: 0;
}
.img-user-circle{
    border-radius: 50% 50%;
    border: 2px solid rgb(0,150,136);
    width: 60px;
    height:60px;

}

.patient-image-container{
    width: 20%;
    display: inline-block;
    float: left;
}
.patient-info-container{
    width: 80%;
    display: inline-block;
    float: left;
}

.item.item-no-padding{
    padding: 0;
}

.item.item-no-padding h2{
    font-size: 1.5em;
}

.main-container{
    display: table;
    width: 100%;
    height: 100%;
}

.main-container > div{
    display: table-row;
    height: 0;
}
.main-container > div.fill{
    height: auto;
}

#login{
    background-color: #009688;
}

#logo{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#waiting-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

@-webkit-keyframes load-progress { 100% {
    margin-left: -80px;
    margin-top: -80px;
    border-width: 80px;
    opacity: 0;
    }}

@keyframes load-progress { 100% {
    margin-left: -80px;
    margin-top: -80px;
    border-width: 80px;
    opacity: 0;
    }}

#loading {
    width: 0;
    height: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #CCC;
    -webkit-animation: load-progress 1s infinite;  
    animation: load-progress 1s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0.6;
}

#loading-text {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 60%;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;
    display: table;
}

#loading-text p {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 6px #ffffff;
    color: #2c3e50;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.angular-input-stars > li i.readonly {
    cursor: default !important;
}

.content-circular {
    border-radius: 50%;
}

.border-thin-gray {
    border: 1px solid #ddd;
}

